/****** Object:  Table [dbo].[Biglietto]    Script Date: 13/07/2025 15:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biglietto](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdViaggio] [bigint] NOT NULL,
	[CodiceBiglietto] [varchar](50) NOT NULL,
	[IdTabellone] [bigint] NOT NULL,
	[NumeroPosto] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Biglietto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 13/07/2025 15:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DataInserimento] [datetime] NOT NULL,
	[CodiceFiscale] [varchar](20) NULL,
	[Nome] [varchar](250) NOT NULL,
	[Cognome] [varchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[DataNascita] [date] NULL,
	[CittaResidenza] [varchar](150) NULL,
	[NazioneResidenza] [varchar](50) NULL,
	[IndirizzoResidenza] [varchar](250) NULL,
 CONSTRAINT [PK_Clienti_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabellone]    Script Date: 13/07/2025 15:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabellone](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTratta] [bigint] NOT NULL,
	[DataPartenza] [datetime] NOT NULL,
	[DataArrivo] [datetime] NOT NULL,
	[Prezzo] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Tabellone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trasporto]    Script Date: 13/07/2025 15:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trasporto](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descrizione] [varchar](50) NULL,
 CONSTRAINT [PK_TipoTratta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratta]    Script Date: 13/07/2025 15:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratta](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTrasporto] [bigint] NOT NULL,
	[CittaPartenza] [varchar](250) NOT NULL,
	[CittaArrivo] [varchar](250) NOT NULL,
	[IndirizzoPartenza] [varchar](250) NOT NULL,
	[IndirizzoArrivo] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Tratta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viaggio]    Script Date: 13/07/2025 15:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viaggio](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdCliente] [bigint] NOT NULL,
	[CodiceViaggio] [varchar](50) NOT NULL,
	[DataPrenotazione] [datetime] NOT NULL,
 CONSTRAINT [PK_Viaggio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Biglietto] ON 

INSERT [dbo].[Biglietto] ([Id], [IdViaggio], [CodiceBiglietto], [IdTabellone], [NumeroPosto]) VALUES (1, 3, N'C56EC451-439C-4346-94F0-D734D4568868', 1, N'10A')
INSERT [dbo].[Biglietto] ([Id], [IdViaggio], [CodiceBiglietto], [IdTabellone], [NumeroPosto]) VALUES (2, 3, N'345F1FB0-B161-4901-A1F5-62014A563DB4', 2, N'10A')
INSERT [dbo].[Biglietto] ([Id], [IdViaggio], [CodiceBiglietto], [IdTabellone], [NumeroPosto]) VALUES (5, 3, N'308f31dc-f1c9-46f2-b959-d3bd35ba3d59', 3, N'22')
SET IDENTITY_INSERT [dbo].[Biglietto] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id], [DataInserimento], [CodiceFiscale], [Nome], [Cognome], [Email], [Telefono], [DataNascita], [CittaResidenza], [NazioneResidenza], [IndirizzoResidenza]) VALUES (1, CAST(N'2025-06-21T08:57:20.660' AS DateTime), NULL, N'Andrea', N'Rossi', N'arossi@gmailx.com', N'+39333XX8899', CAST(N'2003-05-03' AS Date), N'Roma', N'Italia', N'Via del Corso 40')
INSERT [dbo].[Cliente] ([Id], [DataInserimento], [CodiceFiscale], [Nome], [Cognome], [Email], [Telefono], [DataNascita], [CittaResidenza], [NazioneResidenza], [IndirizzoResidenza]) VALUES (2, CAST(N'2024-10-15T00:00:00.000' AS DateTime), N'1f6432a7e3c14611', N'Matteo', N'Gallo', N'user1@example.com', N'+39333XX8899', CAST(N'1987-03-14' AS Date), N'Napoli', N'Italia', N'Via UojYQHVyVX 25')
INSERT [dbo].[Cliente] ([Id], [DataInserimento], [CodiceFiscale], [Nome], [Cognome], [Email], [Telefono], [DataNascita], [CittaResidenza], [NazioneResidenza], [IndirizzoResidenza]) VALUES (3, CAST(N'2023-09-29T00:00:00.000' AS DateTime), N'd41b748ea0004239', N'Marco', N'Bianchi', N'user2@example.com', N'+39333XX8899', CAST(N'1994-10-11' AS Date), N'Napoli', N'Italia', N'Via SCHBpZflUp 38')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Tabellone] ON 

INSERT [dbo].[Tabellone] ([Id], [IdTratta], [DataPartenza], [DataArrivo], [Prezzo]) VALUES (1, 1, CAST(N'2025-07-06T09:49:27.007' AS DateTime), CAST(N'2025-07-06T11:19:27.007' AS DateTime), CAST(32.20 AS Decimal(18, 2)))
INSERT [dbo].[Tabellone] ([Id], [IdTratta], [DataPartenza], [DataArrivo], [Prezzo]) VALUES (2, 2, CAST(N'2025-07-06T14:49:59.230' AS DateTime), CAST(N'2025-07-07T08:49:59.230' AS DateTime), CAST(124.00 AS Decimal(18, 2)))
INSERT [dbo].[Tabellone] ([Id], [IdTratta], [DataPartenza], [DataArrivo], [Prezzo]) VALUES (3, 1, CAST(N'2025-07-11T05:54:33.283' AS DateTime), CAST(N'2025-07-11T23:54:33.283' AS DateTime), CAST(430.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Tabellone] OFF
GO
SET IDENTITY_INSERT [dbo].[Trasporto] ON 

INSERT [dbo].[Trasporto] ([Id], [Descrizione]) VALUES (1, N'Treno')
INSERT [dbo].[Trasporto] ([Id], [Descrizione]) VALUES (2, N'Pullman')
INSERT [dbo].[Trasporto] ([Id], [Descrizione]) VALUES (3, N'Aereo')
SET IDENTITY_INSERT [dbo].[Trasporto] OFF
GO
SET IDENTITY_INSERT [dbo].[Tratta] ON 

INSERT [dbo].[Tratta] ([Id], [IdTrasporto], [CittaPartenza], [CittaArrivo], [IndirizzoPartenza], [IndirizzoArrivo]) VALUES (1, 1, N'Roma', N'Civitavecchia', N'Piazzale Stazione Termini 1', N'Molo 1')
INSERT [dbo].[Tratta] ([Id], [IdTrasporto], [CittaPartenza], [CittaArrivo], [IndirizzoPartenza], [IndirizzoArrivo]) VALUES (2, 7, N'Civitavecchia', N'Cagliari', N'Molo 1', N'Molo 7')
INSERT [dbo].[Tratta] ([Id], [IdTrasporto], [CittaPartenza], [CittaArrivo], [IndirizzoPartenza], [IndirizzoArrivo]) VALUES (3, 1, N'Roma', N'Milano', N'Piazza dei Cinquecento', N'Piazzale stazione centrale')
SET IDENTITY_INSERT [dbo].[Tratta] OFF
GO
SET IDENTITY_INSERT [dbo].[Viaggio] ON 

INSERT [dbo].[Viaggio] ([Id], [IdCliente], [CodiceViaggio], [DataPrenotazione]) VALUES (3, 1, N'488B3192-99EF-42C4-B76E-100EA6EE4E00', CAST(N'2025-07-06T09:28:39.767' AS DateTime))
INSERT [dbo].[Viaggio] ([Id], [IdCliente], [CodiceViaggio], [DataPrenotazione]) VALUES (44, 1, N'f9f174bf-1d62-49a1-b690-eae9e564dce7', CAST(N'2025-07-03T14:55:00.000' AS DateTime))
INSERT [dbo].[Viaggio] ([Id], [IdCliente], [CodiceViaggio], [DataPrenotazione]) VALUES (45, 2, N'ec5c0001-3d2a-437f-8c82-9f33f0fdbfaa', CAST(N'2025-07-23T17:26:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Viaggio] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UQ_EMAIL]    Script Date: 13/07/2025 15:35:30 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [IX_UQ_EMAIL] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Clienti_DataInserimento]  DEFAULT (getdate()) FOR [DataInserimento]
GO
ALTER TABLE [dbo].[Biglietto]  WITH CHECK ADD  CONSTRAINT [FK_Biglietto_Tabellone] FOREIGN KEY([IdTabellone])
REFERENCES [dbo].[Tabellone] ([Id])
GO
ALTER TABLE [dbo].[Biglietto] CHECK CONSTRAINT [FK_Biglietto_Tabellone]
GO
ALTER TABLE [dbo].[Biglietto]  WITH CHECK ADD  CONSTRAINT [FK_Biglietto_Viaggio] FOREIGN KEY([IdViaggio])
REFERENCES [dbo].[Viaggio] ([Id])
GO
ALTER TABLE [dbo].[Biglietto] CHECK CONSTRAINT [FK_Biglietto_Viaggio]
GO
ALTER TABLE [dbo].[Tabellone]  WITH CHECK ADD  CONSTRAINT [FK_Tabellone_Tratta] FOREIGN KEY([IdTratta])
REFERENCES [dbo].[Tratta] ([Id])
GO
ALTER TABLE [dbo].[Tabellone] CHECK CONSTRAINT [FK_Tabellone_Tratta]
GO
ALTER TABLE [dbo].[Tratta]  WITH CHECK ADD  CONSTRAINT [FK_Tratta_Trasporto] FOREIGN KEY([IdTrasporto])
REFERENCES [dbo].[Trasporto] ([Id])
GO
ALTER TABLE [dbo].[Tratta] CHECK CONSTRAINT [FK_Tratta_Trasporto]
GO
ALTER TABLE [dbo].[Viaggio]  WITH CHECK ADD  CONSTRAINT [FK_Viaggio_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Viaggio] CHECK CONSTRAINT [FK_Viaggio_Cliente]
GO
